/* PHASE 12: Modal */
.modal-screen {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.modal-form {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;

  margin: 0 0 20px 0;
  display: block;
  font-weight: 700;
  padding: 0 0 5px 0;

}
